@charset "UTF-8";
/* reset */
body, h1, h2, h3, h4, h5, h6, p, address,
ul, ol, li, dl, dt, dd, img, form, table, tr, th, td {
	margin: 0;
	padding: 0;
	border: none;
	font-style: normal;
	font-weight: normal;
	font-size: 100%;
	text-align: left;
	list-style-type: none;
	border-collapse: collapse;
}

textarea { font-size: 100%; vertical-align:middle;}

hr { display: none; }
em{font-style: normal}
input{line-height:auto;vertical-align:middle;}
strong.more{color:greenyellow}
a{text-decoration: none;}


body {
	font-family:'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
}

/*クラス定義*/
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	height: 0;
	visibility: hidden;
}

.clearfix {
	display: inline-table;
}


/* Hides from IE-mac \*/
* html .clearfix{height: 1%;}
*+html .clearfix{min-height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */


* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

._click:hover {
	cursor: pointer;
	opacity: 0.8;
}

/* ここから記述 */
body {
    display: flex; 
    flex-flow: column; 
    min-height: 100vh;
  }
/* ヘッダー */
/* blink {
    animation: blinkAnime 1s infinite alternate;
  }
  @keyframes blinkAnime{
     0% { color: #000000 }
   100% { color: #66ff66 }
   .sample1oya{
    background  : #ffffff;
    padding     : 20px;
  }
  .sample1{
    display     : inline-block;
    font-size   : 160%;
    font-weight : bold;
    color       : #ffffff;
    text-shadow:  2px  2px 10px #777 ,
                 -2px  2px 10px #777 ,
                  2px -2px 10px #777 ,
                 -2px -2px 10px #777;
  } */
  


header{
    position: relative;
    width: 100%;
    background-position: center;
    background-color: greenyellow ;
}

header nav{
    position: relative;
    top: 0;
    margin: auto;
    width: 100%;
    padding: 0 5%;
    background-color: transparent;
    display: flex;
    flex-wrap: wrap;
    padding-top: 15px;
    color: white;
    transition: all .5s ease;
}

header nav .sign {
    flex: 25%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    line-height: 50px;
}

header nav .logo{
    flex: 25%;
    color: white;
    font-weight: bold;
    font-size: 32px;
}

header nav a{
    color: black;
}
/* フッター */
footer {
    width: 100%;
    height: 300px;
    
    background-size: cover;

    background-position: center;
    background-image: url("../img/d.jpeg");
    position: relative;
    bottom: 0;
}

.wrapper{
    
    min-height: 100vh;
    position: relative;/*←相対位置*/
    padding-bottom: 300px;/*←footerの高さ*/
    box-sizing: border-box;/*←全て含めてmin-height:100vhに*/
}

.blink {
    animation: blinkAnime 1s infinite alternate;
  }
  @keyframes blinkAnime{
     0% { color: #000000 }
   100% { color: #66ff66 }
  }

/* ログインページ */
.login_image {
    width: 100%;
    height: 200px;
    text-align: center;
}


.login_form {
    text-align: center;
    width: 100%;
}
.login_form dl {
    text-align: center;
	
}
.login_form dd, dt {
	padding: 0.5% 0 0;
	font-size: 1.2rem;
    text-align: center;

}

#submit_btn {
    margin: 10px;
}



.logform {
    text-align: center;
}
/* メインページ */
.err p{
    color: #c30;
    text-align: center;
}
.bigbox{
    width: 1000px;
    text-align: center;
}
.main, form{
    text-align: center;
}

.main p {
    text-align: center;
    font-size: 25px;
}
.main div {
    margin-bottom: 20px;
}

.bigbox {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.bigbox .box{
    padding: 10px 0;
}

.paging, .mainPost{
    text-align: center;
}
/* 投稿一覧ページ */
section h1 {
    text-align: center;
    font-size: 24px;
}

.photoGenre {
    text-align: center;
}
.photoGenre a{
    margin: 0 20px;
}
section h2 {
    text-align: center;
}
.user ,.photos ,.other{
    display: flex;
}
.photos{
    margin: 10px 0;
}
.photo_image {
    margin-right: 20px;
}
.comment {
    padding-left: 15px;
    border-left: solid 2px;
}
.comment .comm {
    font-size: 20px;
    border: solid 1px ;
    width: 82px;

}
.comment .mainComm{
    width: 250px;
}
.other {
    justify-content: space-between;
}

.user_name {
    width: auto;
}

.photobox {
    width: 600px;
    margin: 0 auto;
    border-top: solid;
}
/* 写真詳細ページ */
.main h2 {
    text-align: center;
    margin: 0 auto;
    border: solid 1px;
    width: 100px;
}

.photoMain{
    width: 700px;
    margin: 0 auto;
}


.other1 {
    
    justify-content: space-around;
}

/* 写真投稿確認ページ */
.confirm_edit{
    margin: 0 auto;
    width: 700px;
}

.PhotoComm .photoComm{
    font-size: 20px;
}